body{
    margin: 0px !important;
    padding: 0px !important;
}
.navbar-burger{
    background-image: url('images/bgheader.jpg');
    width: 100% !important;
    height: auto;
    z-index: -1;
}
.exp-del{
    font-size: 20px;
    font-weight: bold;
}

.navbar-bur{
    margin-left: 62%;
}
.navbar-bur li{
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.navbar-bur li:hover{
    color: red !important;
}
.tst-of-burg{
    height: auto;
    width: 50%;
    padding: 2px;
    border: 2px dashed black;
}
.sell img{
    margin-top: -140px;
}
.tryitimg{
    width: 100%;
    display: flex ;
    flex-direction: row;
    justify-content: center;
}
.mostpopularburger{
    background-image: url('images/burg1.jpg');
    background-repeat: no-repeat;
    width: 37% !important;
    height: 400px;

}
.rowsofburg{
    width: 37%;
}
.morefunmoretaste{
    margin: 5px;
    background-image: url('images/birg2.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;

}
.freshandchill{
    margin: 5px;
    background-image: url('images/burg3.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}
.bursectct{
    width: 250px;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}
.btntasty{
    background-color: #ffc045;
    border: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.textchoseandenjoy{
    font-size: 50px;
    font-weight: bold;
    color: #3d2514;
    font-family: 'Alfa Slab One',Regular;
}
.dummytext{
    width: 60%;
}

@media only screen and (max-width: 600px) {
    .navbar-bur{
        margin-left: 0px !important;

    }
    .navbar-bur li{
        font-size: 15px;
        padding: 5px;
    }
    
    .cycle-and-no{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .cycle-and-no div{
        width: 500px !important;
        padding: 5px;
    }
    .tryitimg{
        width: 100%;
        display: inline-block;
    }
    .mostpopularburger{
        background-image: url('images/burg1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        width: 100% !important;
        height: 300px;
        border-radius: 10px 10px;
    
    }
    .rowsofburg{
        width: 100%;
    }
    .morefunmoretaste{
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        border-radius: 10px 10px;
    
    }
    .freshandchill{
        background-position: center;
        width: 100%;
        border-radius: 10px 10px;

    }
}